*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
%center_style{
    display: flex;
    align-items: center;
}
@mixin changible_style($width, $height){
    width: $width;
    height: $height;
}
.container{
    @include changible_style(100%, 100vh)
    @extend %center_style;
    justify-content: center;
    .box{
        width: 400px;
        input{
            width: 100%;
            margin-bottom: 40px;
            padding: 10px 0px;
            font-size: 20px;
            text-align: left;
            border: none;
            background-color: #fff;
            border-bottom: 3px solid gray;
            color: gray;
            outline: none;       
         }
        input:hover{
            border-bottom:3px solid aquamarine;
            color:black;
        }
        .input-6{
            margin-bottom: 40px;
            outline: none; 
            color:gray;
        }
        .input-6:hover{
            border-bottom:3px solid  red;
            color:black;
        }
        .box-1{
            @extend %center_style;
            justify-content: space-between;
            margin-top:-40px;
            p{
                color:red;
            }
            img{
                @include changible_style(25px, 25px)
            }
        }
    }
}